@import "_mixins.scss";
@import "_variables.scss";

header {
  padding: 0px 36px;
  img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 28px;
    margin-right: 16px;
    border-radius: 50%;
    height: 226px;
    width: 226px;
    @include breakpoint($tablet) {
      margin-right: auto;
      margin-left: auto;
      display: block;
      height: 150px;
      width: 150px;
    }
  }
  .header-text {
    margin-top: 18px;
    display: inline-block;
    width: 310px;
    text-align: center;
    vertical-align: middle;
    @include breakpoint($tablet) {
      margin-right: auto;
      margin-left: auto;
      width: 100%;
    }
    h1 {
      margin-bottom: 0px;
      font-size: 44px;
      @include breakpoint($tablet) {
        margin-top: 0;
        font-size: 30px;
      }
    }
    p {
      font-size: 14pt;
      margin: 0 0 4px
    }
  }
  ul {
    li {
      display: inline;
      list-style: none;
      a {
        color: inherit;
      }
    }
  }
  .navigation {
    float: right;
    margin-top: 100px;
    font-size: 14pt;
    @include breakpoint($tablet) {
      display: none;
    }
    a {
      margin-right: 12px;
    }
  }
  .social-media {
    font-size: 28pt;
    padding-left: 0px;
    width: 226px;
    text-align: center;
    @include breakpoint($tablet) {
      width: initial;
    }
  }
  .mobile-navigation {
    font-size: 16pt;
    padding-left: 0;
    text-align: center;
    display: block;
    margin-top: 16px;
    li {
      margin-right: 9px;
      margin-left: 9px;
    }
    @media screen and (min-width: 850px) {
      display: none;
    }
  }
}
.main-content{
  .left-text {
    text-align: center;
    position: relative;
    top: 34px;
  }
  svg {
    height: 286px;
    margin: -80px auto;
    display: block;
    @include breakpoint($tablet) {
      margin-right: auto;
      margin-left: auto;
      height: 134px;
      margin-top: 0;
    }
  }
  .right-text {
    text-align: center;
    position: relative;
    bottom: 28px;
    @include breakpoint($tablet) {
      font-size: 8pt;
      bottom: 0px;
    }
  }
  .timeline-text {
    @include breakpoint($tablet) {
      font-size: 10pt;
      position: relative;
      top: 0px;
    }
  }
}
.scroll-down {
  width: 100vw;
  text-align: center;
}
